<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <div class="container">
      <h2>Database Results</h2>

      <a href="/">Home</a>

      <ul id="counts"></ul>
    </div>
  </body>
</html>
